{:kotoba.app/id "cloud.itonami.isic-1811", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidndd2idnn75vekgljebmxqbv5qatdjdylwbw73af3bgzngdypwiq", :kotoba.app/embed-url "ipfs://bafkreidndd2idnn75vekgljebmxqbv5qatdjdylwbw73af3bgzngdypwiq", :published {:archive "https://kotobase.net/ipfs/bafkreidndd2idnn75vekgljebmxqbv5qatdjdylwbw73af3bgzngdypwiq", :size 72972, :put-status 201, :get-status 200, :at "2026-08-15T13:54:08.248Z"}}
